* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0F0F0F ;
    justify-content: center;
    align-items: center;
    color: white;
}
img {
    height: 40px;
    justify-content: center;
}
main {
    display: flex;
    background-color: #0F0F0F;
    justify-content: center;
    align-items: center;
}